html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Ubuntu,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
}

.dark-mode body {
	background: #22252c;
	color: #fff;
}

#root {
	height: 100%;
}

nav ul a {
	display: block;
	padding: 5px 0;
	color: #0084ff;
	text-decoration: none;
}

nav ul a.active {
	text-decoration: underline;
}

.dark-mode nav {
	background-color: #1e2127 !important;
}
