@import '../styles/variables';

.CreatePortfolio {
	.generated-seed-phrase-container {
		background-color: rgba(248, 7, 89, 0.05);
		border: 1px solid $red-color;
		color: $red-color;
		border-radius: 4px;
		position: relative;
		padding: 10px 60px;

		.ReloadButton {
			@include center-vertically;
			left: 12px;
		}

		.CopyButton {
			@include center-vertically;
			right: 12px;
		}

		.seed-phrase {
			margin: 0 auto;
			font-size: 17px;
		}
	}

	.warning-box {
		display: flex;
		margin-top: 18px;
		text-align: left;

		.icon {
			margin: 6px;
		}

		.content {
			flex: 1;
			margin-left: 7px;

			h3 {
				margin-bottom: 0;
			}

			p {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
}
