.LoginBox {
	margin-top: 50px;

	.form-group-1 {
		display: flex;
		width: 100%;
		margin-top: 20px;

		.portfolio-selector {
			flex: 1;
			margin-right: 8px;
		}
	}

	.form-group-2 {
		margin-top: 25px;
	}
}
