.Login {
	text-align: center;
	display: flex;
	justify-content: center;

	.is-centered > * {
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		margin-bottom: 20px;
	}

	.hyperdex-icon {
		display: block;
		margin-bottom: 30px;
	}

	.add-portfolio {
		width: initial;
		position: absolute;
		top: 10px;
		right: 12px;
	}

	.add-portfolio-modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	.portfolio-form {
		width: 400px;
		margin: 0 auto;
	}
}
