.Preferences {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	border-radius: 4px;
	background-color: var(--widget-background-color);

	header {
		display: flex;
		align-items: center;
		padding: 16px 30px;
		border-bottom: 1px solid var(--section-border-color);

		h2 {
			margin: 0;
			font-size: 18px;
		}
	}

	main {
		padding: 40px 30px;

		.form-group {
			margin-bottom: 20px;
		}

		label {
			display: inline-block;
			font-weight: 600;
			margin-bottom: 5px;
			color: var(--text-color);
		}

		.enabled-currencies {
			margin: 5px 0;
		}
	}
}
