.TabView {
	@media (max-width: 768px) {
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		/* Don't show navbar tooltips in mobile view */
		.tooltip.show {
			display: none !important;
		}
	}

	.navbar-fixed-top,
	.navbar-static-top {
		border-bottom: 0;
	}

	.iconav {
		padding-top: 20px;
	}

	@media (min-width: 768px) {
		/* Increasing the padding as we increased the `.iconav` width */
		.with-iconav > .container,
		.with-iconav > .container-fluid {
			padding-right: 15px;
			padding-left: 90px;
		}

		.iconav {
			width: 75px;
			padding-top: 50px;
		}
	}
}
