.Trades {
	display: flex;
	height: 100%;
	background-color: var(--background-color2);

	header nav .button {
		padding-bottom: 19px;
		font-size: 17px;
	}

	header {
		padding: 20px;
	}

	main {
		.SwapList {
			tr {
				border-bottom: 1px solid hsla(215, 23%, 22%, 1);
				padding: 50px 0;

				&:last-child {
					border: none;
				}
			}

			td {
				padding: 12px 5px 12px 0;
				font-size: 13px;
			}

			.view,
			.cancel {
				&__button {
					padding: 4px 8px;
					border-radius: 3px;
				}
			}
		}
	}
}
