/* stylelint-disable font-weight-notation */
$source-sans-pro-fonts-path: '/styles/fonts' !default;

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 900;
	font-stretch: normal;
	src: url('#{$source-sans-pro-fonts-path}/SourceSansPro-BlackItalic.ttf') format('truetype');
}
