$SourceSansProFontsPath: '/styles/fonts' !default;

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 200;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 600;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 700;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 900;
	font-stretch: normal;
	src: url('#{$SourceSansProFontsPath}/SourceSansPro-BlackItalic.ttf') format('truetype');
}
