@import 'toolkit-inverse';
@import '~sass-extras/index';
@import './fonts';
@import './variables';

body {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $background-color;
	font-family: 'Source Sans Pro';
	font-weight: normal;
}

.dark-mode body {
	background-color: $dark-mode-background-color;
}

h1 {
	font-size: 1.625rem;
	font-weight: 600;
	line-height: 2rem;
}

h2 {
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1.75rem;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.25rem;
}

p {
	color: #7f8fa4;
	font-size: 1rem;
	line-height: 1.5rem;
}

p.secondary {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.375rem;
}

a {
	color: $primary-color;

	&:hover {
		color: #5362c4;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

button:focus {
	outline: 0;
}

.window-draggable-area {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-app-region: drag;
}

/* Bootstrap overrides */
.form-group {
	margin-bottom: 10px;
}
