@import 'toolkit-inverse';
@import '~sass-extras/index';
@import './fonts';
@import './variables';

button:focus {
	outline: 0;
}

body {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $background-color;
	font-family: 'Source Sans Pro';
	font-weight: normal;
}

.dark-mode body {
	background-color: $dark-mode-background-color;
}

h1 {
	font-size: 26px;
	font-weight: 600;
	line-height: 33px;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	line-height: 28px;
}

h3 {
	color: #9ba3a9;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

p {
	color: #7f8fa4;
	font-size: 16px;
	line-height: 24px;
}

p.secondary {
	color: #fff;
	font-size: 14px;
	line-height: 22px;
}

a {
	color: $primary-color;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

a:hover {
	color: #5362c4;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.window-draggable-area {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-app-region: drag;
}

.Welcome {
	display: flex;
	min-height: 75vh;
	align-items: center;
	justify-content: center;
	color: #7f8fa3;
	text-align: center;

	.body {
		max-width: 100%;
		padding: 40px;
		flex: none;
		align-self: center;
	}

	h2 {
		font-size: 16px;
		font-weight: 400;
	}
}

.Main {
	@media (max-width: 768px) {
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		/* Don't show navbar tooltips in mobile view */
		.tooltip.show {
			display: none !important;
		}
	}

	.navbar-fixed-top,
	.navbar-static-top {
		border-bottom: 0;
	}

	.iconav {
		padding-top: 20px;
	}

	@media (min-width: 768px) {
		/* Increasing the padding as we increased the `.iconav` width */
		.with-iconav > .container,
		.with-iconav > .container-fluid {
			padding-right: 15px;
			padding-left: 90px;
		}

		.iconav {
			width: 75px;
			padding-top: 50px;
		}
	}
}

.Login {
	h4 {
		color: hsla(224, 13%, 40%, 1);
		font-weight: 500;
	}

	.add-portfolio {
		width: initial;
		position: absolute;
		top: 10px;
		right: 12px;
	}

	.add-portfolio-modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.portfolio-form {
		width: 400px;
		margin: 0 auto;
	}

	.portfolios {
		text-align: center;
	}

	.portfolio-item-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.Portfolio {
		width: 33%;
		padding: 1em;
		text-align: center;

		.PortfolioImage canvas {
			display: inline-block;
		}

		.login-form {
			margin-top: 20px;
		}
	}
}

.ComponentsPreview {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 50px;

	> * {
		margin: 20px;
	}
}
