:root {
	--primary-color: #687bf7;
	--secondary-color: #8050ef;
	--background-color: hsla(216, 27%, 14.5%, 1);
	--widget-background-color: hsla(216, 27%, 18%, 1);
	--input-background-color: hsla(216, 27%, 16%, 1);
	--input-border-color: hsla(216, 27%, 22%, 1);
	--input-lighter-background-color: hsla(216, 27%, 20%, 1);
	--input-lighter-border-color: hsla(216, 27%, 24%, 1);
	--button-border-color-disabled: hsla(216, 27%, 22%, 1);
	--button-text-color-disabled: hsla(216, 27%, 26%, 1);
	--text-color: #7f8fa4;
	--text-color2: #fff;
	--text-color2-inverse: #000;
	--text-color-faded: rgba(255, 255, 255, 0.8);
	--text-color-opacity-0-5: rgba(255, 255, 255, 0.5);
	--active-text-color: hsla(0, 0, 80%, 1);
	--red-color: #f80759;
	--green-color: #28af60;
	--primary-gradient: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 100%);
	--button-gradient: linear-gradient(180deg, hsla(216, 27%, 24%, 1) 0%, hsla(216, 27%, 20%, 1) 100%);
	--progress-gradient: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
	--border-color: #313d4f;
	--section-border-color: #313d4e;
	--pie-border-color: hsla(216, 27%, 16%, 1);
	--pie-fill-color: #3d4e83;
	--modal-close-button-color: hsla(216, 15%, 44%, 1);
	--primary-color-opacity-0-7: hsla(232, 90%, 69%, 0.7);
	--primary-color-opacity-0-5: hsla(232, 90%, 69%, 0.5);
	--primary-color-opacity-0-2: hsla(232, 90%, 69%, 0.2);
	--select-selection-box-background-color: hsla(232, 90%, 69%, 0.1);
	--select-selection-box-border-color: hsla(232, 90%, 69%, 0.2);
	--success-color: var(--green-color);
	--error-color: var(--red-color);
	--warning-color: #f7981c;
	--info-color: #1991eb;
	--link-hover-color: #5362c4;
	--timeseries-chart-background-color: #313b5e;
	--timeseries-chart-stroke: #8050ef;
	--swap-status-border-color: rgba(255, 255, 255, 0.2);
	--depth-chart-buy-background-color: #275049;
	--depth-chart-buy-stroke-color: #28af60;
	--depth-chart-sell-background-color: #5a2947;
	--depth-chart-sell-stroke-color: #f80759;
	--order-list-item-hover: rgba(255, 255, 255, 0.05);
}

html[data-theme='light'] {
	--background-color: hsla(0, 0%, 100%, 1);
	--widget-background-color: hsla(200, 10%, 95%, 1);
	--input-background-color: hsla(0, 0%, 97%, 1);
	--input-border-color: hsla(0, 0%, 86%, 1);
	--input-lighter-background-color: hsla(0, 0%, 86%, 1);
	--input-lighter-border-color: hsla(0, 0%, 76%, 1);
	--button-border-color-disabled: hsla(0, 0%, 88%, 1);
	--button-text-color-disabled: hsla(0, 0%, 70%, 1);
	--text-color: hsla(0, 0%, 45%, 1);
	--text-color2: #000;
	--text-color2-inverse: #fff;
	--text-color-faded: rgba(0, 0, 0, 0.8);
	--text-color-opacity-0-5: rgba(0, 0, 0, 0.5);
	--active-text-color: hsla(0, 0, 30%, 1);
	--button-gradient: linear-gradient(180deg, hsla(216, 15%, 55%, 1) 0%, hsla(216, 15%, 35%, 1) 100%);
	--border-color: hsla(200, 10%, 80%, 1);
	--section-border-color: hsla(0, 0%, 0%, 0.2);
	--pie-border-color: var(--widget-background-color);
	--pie-fill-color: var(--primary-color-opacity-0-5);
	--modal-close-button-color: hsla(216, 15%, 44%, 1);
	--timeseries-chart-background-color: var(--primary-color-opacity-0-5);
	--swap-status-border-color: rgba(0, 0, 0, 0.2);
	--depth-chart-buy-background-color: #e3f2ee;
	--depth-chart-buy-stroke-color: #7ac89b;
	--depth-chart-sell-background-color: #f6e1ed;
	--depth-chart-sell-stroke-color: #f53f78;
	--order-list-item-hover: rgba(0, 0, 0, 0.05);
}

@mixin colored-icon-no-size($icon, $color: null) {
	position: relative;
	display: block;
	content: ' ';
	-webkit-mask: svg-url($icon) no-repeat center;
	@if $color {
		background: $color;
	}
}

@mixin colored-icon($icon, $color: null) {
	position: relative;
	display: block;
	content: ' ';
	width: 100%;
	height: 100%;
	-webkit-mask: svg-url($icon) no-repeat center;
	@if $color {
		background: $color;
	}
}

@mixin icon-button {
	width: 36px;
	height: 36px;
	border: 1px solid var(--input-border-color);
	border-radius: 4px;
	background-color: var(--input-background-color);
	transition: background-color 0.3s ease-in;

	&:hover {
		background-color: var(--widget-background-color);
	}

	&:active {
		background-color: var(--input-background-color);
		transition: none;
	}
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin center-vertically {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/// Icons

$dashboard-icon: '<svg viewBox="0 0 35 35"><path d="M0 3.55c0-1.4 1.1-2.5 2.5-2.5h29.1c1.4 0 2.5 1.1 2.5 2.5v28.6c0 1.4-1.1 2.5-2.5 2.5H2.5c-1.4 0-2.5-1.1-2.5-2.5V3.55zm2.5-1.5c-.8 0-1.5.7-1.5 1.5v8.4h32.1v-8.4c0-.8-.7-1.5-1.5-1.5H2.5zm30.6 10.9h-23v20.8h21.5c.8 0 1.5-.7 1.5-1.5v-19.3zm-24 0H1v19.3c0 .8.7 1.5 1.5 1.5h6.6v-20.8z"/></svg>';

$swap-icon: '<svg viewBox="0 0 35 35"><path d="M24.1.98a.5.5 0 1 0-.703.712l2.143 2.11H7.832a7.172 7.172 0 0 0 0 14.344h19.785a6.172 6.172 0 0 1 0 12.344H9.91l2.142-2.11a.5.5 0 1 0-.702-.712l-3.01 2.966a.5.5 0 0 0 0 .712l3.011 2.965a.5.5 0 0 0 .702-.712l-2.142-2.11h17.707a7.172 7.172 0 0 0 0-14.343H7.832a6.172 6.172 0 0 1 0-12.345H25.54l-2.143 2.11a.5.5 0 0 0 .702.712l3.012-2.965a.5.5 0 0 0 0-.713z"/></svg>';

$exchange-icon: '<svg viewBox="0 0 42 33"><path d="M41.73 6.077c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-3.4l-13.6 13.6c-1 1-2.6 1-3.5 0l-9-9-5.6-5.6.7-.7 5.6 5.6 9 9c.6.6 1.5.6 2.1 0l13.6-13.6h-3.4c-.3 0-.5-.2-.5-.5s.2-.5.5-.5l4.6.1c.3 0 .5.2.5.5zm-8.3 21.4c0-.3-.2-.5-.5-.5s-.5.2-.5.5v3.4l-13.6-13.6c-1-1-2.6-1-3.5 0l-8.9 8.9-5.6 5.6.7.7 5.6-5.6 8.9-8.9c.6-.6 1.5-.6 2.1 0l13.6 13.6h-3.4c-.3 0-.5.2-.5.5s.2.5.5.5h4.6c.3 0 .5-.2.5-.5z"/></svg>';

$trades-icon: '<svg viewBox="0 0 35 35"><path d="M17.054.897a.5.5 0 0 1-.478.52C8.02 1.779 1.21 8.723 1.21 17.22c0 8.729 7.185 15.817 16.065 15.817 8.88 0 16.065-7.088 16.065-15.817a.5.5 0 1 1 1 0c0 9.295-7.648 16.817-17.065 16.817C7.857 34.037.21 26.515.21 17.22.21 8.17 7.46.8 16.534.418a.5.5 0 0 1 .52.479zm6.971 1.41a.5.5 0 0 1 .667-.237 17.118 17.118 0 0 1 5.517 4.18 16.946 16.946 0 0 1 1.903 2.656c.23.397.443.805.64 1.221a.5.5 0 1 1-.904.428A15.648 15.648 0 0 0 30.43 8.14a15.95 15.95 0 0 0-3.375-3.47 16.113 16.113 0 0 0-2.794-1.698.5.5 0 0 1-.237-.666zM17.21 17.573V7.994a.5.5 0 0 0-1 0v9.897a.495.495 0 0 0 .323.499l5.762 2.127a.505.505 0 0 0 .645-.295.495.495 0 0 0-.292-.641z"/></svg>';

$settings-icon: '<svg viewBox="0 0 35 36"><path d="M20.755 0a2 2 0 0 0-2 2v2.255H.53a.5.5 0 0 0 0 1h18.225v2.254a2 2 0 0 0 2 2h4.202a2 2 0 0 0 2-2V5.255h6.703a.5.5 0 1 0 0-1h-6.702V2a2 2 0 0 0-2-2zm-1 2a1 1 0 0 1 1-1h4.202a1 1 0 0 1 1 1v5.51a1 1 0 0 1-1 1h-4.202a1 1 0 0 1-1-1zm1 23.528a2 2 0 0 0-2 2v2.255H.53a.5.5 0 0 0 0 1h18.225v2.254a2 2 0 0 0 2 2h4.202a2 2 0 0 0 2-2v-2.254h6.703a.5.5 0 1 0 0-1h-6.702v-2.255a2 2 0 0 0-2-2zm-1 2a1 1 0 0 1 1-1h4.202a1 1 0 0 1 1 1v5.51a1 1 0 0 1-1 1h-4.202a1 1 0 0 1-1-1zM7.232 14.764a2 2 0 0 1 2-2h4.202a2 2 0 0 1 2 2v2.255H33.66a.5.5 0 1 1 0 1H15.434v2.254a2 2 0 0 1-2 2H9.232a2 2 0 0 1-2-2V18.02H.53a.5.5 0 1 1 0-1h6.702zm2-1a1 1 0 0 0-1 1v5.51a1 1 0 0 0 1 1h4.202a1 1 0 0 0 1-1v-5.51a1 1 0 0 0-1-1z"/></svg>';
