$primary-color: #687bf7;
$secondary-color: #8050ef;
$background-color: #808080;
$text-color: #7f8fa4;
$gray-color: #7f8fa4;
$red-color: #f80759;
$primary-gradient: linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
$button-gradient: linear-gradient(180deg, #516173 0%, #3b4857 100%);
$label-text-color: $gray-color;
$disabled-text-color: $gray-color;

$success-color: #39b54a;
$error-color: $red-color;
$warning-color: #f7981c;
$info-color: #1991eb;

$dark-mode-background-color: #222c3c;

@mixin colored-icon($icon, $color) {
	display: block;
	content: ' ';
	width: 100%;
	height: 100%;
	-webkit-mask: svg-url($icon) no-repeat center;
	background-color: $color;
	position: relative;
}

@mixin icon-button {
	width: 36px;
	height: 36px;
	border: 1px solid #313d4f;
	border-radius: 4px;
	background-color: #222c3c;
	transition: background-color 0.3s ease-in;

	&:hover {
		background-color: #283447;
	}

	&:active {
		background-color: #1e2736;
		transition: none;
	}
}
