.DepositModal main {
	.section {
		margin: 10px 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.qrcode {
		align-self: center;
		background: #fff;
		padding: 20px;
	}

	.infobox {
		display: flex;
		align-items: center;
		padding: 12px 14px;
		background-color: var(--background-color);
		border-radius: 4px;

		img {
			display: block;
			margin-right: 14px;
		}

		p {
			color: var(--text-color2);
			margin: 0;
			font-size: 14px;
		}
	}
}
