.DepositModal main {
	display: flex;
	flex-direction: column;

	.section {
		margin: 10px 0;
	}

	.section:last-of-type {
		margin-bottom: 0;
	}

	.qrcode {
		align-self: center;
		background: #fff;
		padding: 20px;
	}

	.address-input {
		input {
			color: #fff;
			font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
			font-size: 13px;
			font-weight: normal;
			caret-color: transparent;
		}
	}

	.infobox {
		display: flex;
		align-items: center;
		padding: 12px 14px;
		background-color: #313d4f;
		border-radius: 4px;

		img {
			display: block;
			margin-right: 14px;
		}

		p {
			color: #fff;
			margin: 0;
			font-size: 14px;
		}
	}
}
