.Dashboard--List {
	flex-direction: column;

	.top {
		align-items: start;
		border-bottom: 1px solid #313d4f;

		.avatar-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			background-color: #1b2430;
			border-radius: 100%;

			img {
				width: 14px;
				height: 14px;
			}
		}
	}

	.center {
		flex: 1;
		min-height: 80px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.bottom {
		align-items: end;
		border-top: 1px solid #313d4f;
		padding: 12px 16px;

		input {
			border: none;
		}

		.Input__view::after {
			display: none;
		}
	}

	.coin-button {
		display: flex;
		align-items: center;
		height: 96px;
		padding: 20px;
		border-left: 2px solid transparent;
		user-select: none;
		cursor: default;

		.right {
			margin-left: 18px;

			> * {
				margin: 0;
				padding: 0;
			}

			p {
				font-size: 14px;
			}

			.Progress {
				margin-top: 6px;
				margin-bottom: 6px;
				width: 120px;

				&__bar {
					background: #687bf7;
					border-radius: 10px;
				}

				&__label {
					width: 30px;
					text-align: left;
				}
			}
		}

		&:hover,
		&.active {
			background-color: rgba(104, 123, 247, 0.1);
			border-image: linear-gradient(to bottom, #687bf7, #8050ef) 1 100%;
		}

		&.active {
			background-color: rgba(104, 123, 247, 0.05);
		}
	}
}
