.Dashboard--List {
	flex-direction: column;

	.top {
		align-items: start;
		border-bottom: 1px solid var(--section-border-color);

		.avatar-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 38px;
			height: 38px;
			background-color: var(--background-color);
			border-radius: 100%;

			[data-theme='light'] & {
				background-color: #fff;
				border: 1px solid rgba(0, 0, 0, 0.1);
			}

			img {
				width: 14px;
				height: 14px;
			}
		}
	}

	.center {
		flex: 1;
		min-height: 80px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.bottom {
		align-items: end;
		border-top: 1px solid var(--section-border-color);
		padding: 12px 16px;

		input {
			border: none;
		}

		.Input__view::after {
			display: none;
		}
	}

	.coin-button {
		display: flex;
		align-items: center;
		height: 96px;
		padding: 20px;
		border-left: 2px solid transparent;
		user-select: none;
		cursor: default;

		.right {
			margin-left: 18px;

			> * {
				margin: 0;
				padding: 0;
			}

			p {
				font-size: 14px;
			}

			.Progress {
				margin-top: 6px;
				margin-bottom: 6px;
				width: 120px;

				&__bar {
					background: var(--primary-color);
					border-radius: 10px;
				}

				&__label {
					width: 30px;
					text-align: left;
				}
			}
		}

		&:hover,
		&.active {
			background-color: rgba(104, 123, 247, 0.1);
			border-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)) 1 100%;
		}

		&.active {
			background-color: rgba(104, 123, 247, 0.05);
		}
	}

	.add-currencies {
		padding: 20px;
		text-align: center;
		border-top: 1px solid var(--section-border-color);

		.button {
			padding: 10px;
			background-color: var(--background-color);
			border: 1px solid var(--border-color);
			border-radius: 8px;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
			transition: 0.1s ease-in;
			transition-property: border-color, box-shadow;
			user-select: none;
			cursor: default;

			&:hover {
				border-color: hsl(216, 23%, 30%);
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
			}
		}

		h2 {
			margin: 0;
		}

		p {
			margin: 0;
			font-size: 12px;
		}
	}
}
