@import '../../styles/variables';

.Dashboard--Wallet {
	flex-direction: column;

	.button-wrapper {
		align-self: center;
		margin-top: 150px;

		.modal-wrapper {
			display: inline-block;
		}

		.OpenModalButton {
			width: 176px;
			margin: 0 8px;
			background: var(--background-color);
			border: 1px solid var(--border-color);

			&__value {
				color: rgba(255, 255, 255, 0.8);
				transition: color 0.1s ease-in;
			}

			&__helper {
				transition: opacity 0.1s ease-in;
			}

			&:hover {
				border: 1px solid hsl(216, 23%, 30%);

				.Button__value {
					color: rgba(255, 255, 255, 1);
				}

				.Button__helper {
					opacity: 0;
				}
			}

			&:active {
				border: 1px solid var(--border-color);

				.Button__value {
					color: rgba(255, 255, 255, 0.8);
				}
			}
		}
	}
}
