@import '../../styles/variables';

.WithdrawModal main {
	display: flex;
	flex-direction: column;

	.section {
		margin: 10px 0;
	}

	label {
		font-size: 12px;
		font-weight: 600;
		color: var(--text-color);
	}

	.amount-inputs {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.separator {
			margin: 0 20px;
			color: var(--text-color);
		}
	}

	.info {
		display: flex;
		justify-content: space-between;

		span {
			font-size: 14px;
			color: var(--text-color);
		}

		&:first-child {
			margin-bottom: 20px;
		}

		.negative-balance {
			color: var(--red-color);
		}
	}

	.withdraw-button {
		align-self: center;
		width: 176px;
		margin-top: 30px;
	}
}
