.SeedPhraseModal {
	.SeedPhrase {
		border: 1px solid var(--primary-color);
		color: var(--primary-color);

		.section--copy {
			flex-basis: 30px;
			padding-left: 0;
		}
	}

	.CopyButton {
		color: var(--primary-color);
	}

	.Input--error {
		margin-bottom: 20px;
	}

	.Input__text p {
		font-size: 12px;
	}
}
