@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Buy {
	.table-wrapper {
		tbody {
			td:first-child {
				color: var(--red-color);
			}
		}
	}

	.bottom {
		h3 {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.auto-split-checkbox {
				font-size: var(--text-size);
			}
		}

		.status-message {
			position: absolute;
			margin: 0;
		}
	}
}
