@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Buy {
	.table-wrapper {
		tbody {
			td:first-child {
				color: var(--red-color);
			}
		}
	}

	.bottom {
		.status-message {
			position: absolute;
			margin: 0;
		}
	}
}
