@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Chart {
	padding: 15px;
	padding-bottom: 0;

	.chart-container {
		flex: 1;
		position: relative;
		border-top: 2px solid var(--section-border-color);

		h3 {
			position: relative;
			margin-top: 10px;
			text-align: center;
			z-index: 10;
		}

		.DepthChart {
			position: absolute;
			top: -6px;
			left: -6px;
			right: -14px;
			bottom: -6px;

			.Empty {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding-bottom: 30px;
			}
		}
	}
}
