@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Sell {
	.table-wrapper {
		tbody td:first-child {
			color: var(--green-color);
		}
	}

	.max-price-button {
		color: #fff;
		font-size: 12px;
	}
}
