@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Swaps,
.Trades {
	display: flex;
	flex-direction: column;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0 20px;
		border-bottom: 1px solid var(--section-border-color);

		h3,
		nav span {
			padding: 20px 0;
		}

		h3 {
			margin: 0;
		}

		nav {
			.button {
				font-size: 15px;
				user-select: none;
				cursor: default;
			}

			.button:first-child {
				margin-right: 20px;
			}

			.button.active {
				color: var(--primary-color);
				border-bottom: 1px solid var(--primary-color);
			}
		}
	}

	main {
		display: flex;
		flex: 1;
		padding: 10px 20px;

		.Empty {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			p {
				font-size: 20px;
				opacity: 0.6;
			}
		}

		.SwapList {
			flex: 1;
			overflow-y: auto;
			font-size: 12px;
			height: 0;
			min-height: 100%;

			.row {
				display: grid;
				grid-template-areas:
					'pairs base-amount quote-amount'
					'timestamp status view';
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 8px;
				justify-content: center;
				align-items: center;
				white-space: nowrap;
				border-bottom: 1px solid var(--section-border-color);
				padding: 10px 0;

				&:last-child {
					border-bottom: none;
				}

				.timestamp {
					grid-area: timestamp;
					white-space: nowrap;
				}

				.pairs {
					grid-area: pairs;
				}

				.base-amount {
					grid-area: base-amount;
					justify-self: center;
				}

				.quote-amount {
					grid-area: quote-amount;
					justify-self: end;
				}

				.status {
					grid-area: status;
					justify-self: center;
				}

				.view {
					grid-area: view;
					justify-self: end;
				}
			}

			@media only screen and (min-width: 1260px) {
				.row {
					grid-template-areas: 'timestamp pairs base-amount quote-amount status view';
					grid-template-columns: 16% 14% 23% 20%;
					justify-content: unset;
					white-space: unset;

					.base-amount {
						justify-self: start;
					}

					.quote-amount {
						justify-self: start;
					}

					.status {
						justify-self: center;
					}

					.view {
						justify-self: end;
					}
				}
			}

			table {
				display: table;
				width: 100%;
			}

			tr {
				white-space: nowrap;
			}

			td {
				padding: 8px 5px 8px 0;
			}

			td:last-child {
				padding-right: 0;
				width: 1%; // Forces it to be the width of its contents
			}

			.timestamp {
				color: var(--text-color);
			}

			.quote-amount {
				color: var(--red-color);
			}

			.base-amount {
				color: var(--green-color);
			}

			.status {
				&__icon {
					width: 62px;
					padding: 1px 2px;
					font-size: 10px;
					text-align: center;
					text-transform: uppercase;
					border: 1px solid;
					border-radius: 3px;
					user-select: none;
					cursor: default;
				}

				&__icon[data-status='pending'],
				&__icon[data-status='matched'],
				&__icon[data-status='swapping'] {
					background-color: var(--primary-color);
					border-color: var(--primary-color);
				}

				&__icon[data-status='failed'] {
					border-color: #364357;
				}

				&__icon[data-status='completed'] {
					border-color: var(--primary-color);
				}
			}

			.view,
			.cancel {
				&__button {
					padding: 2px 4px;
					color: #fff;
					background-color: var(--background-color);
					border: 1px solid #313d4f;
					transition: 0.2s ease-out;
					font-size: 11px;

					&:hover {
						border-color: rgba(255, 255, 255, 0.2);
					}

					&:active {
						color: rgba(255, 255, 255, 0.8);
						border-color: rgba(255, 255, 255, 0.15);
					}

					&[disabled] {
						user-select: none;
						cursor: default;
						color: var(--text-color);
						opacity: 0.8;

						&:hover {
							border: 1px solid #313d4f;
						}
					}
				}
			}
		}
	}
}
