.SwapDetails .Modal__dialog {
	.overview {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 0 80px; /* TODO: Figure out why this has to be set to so much */

		.arrow {
			color: var(--text-color);
			font-size: 24px;
			margin: 0 50px;
		}

		.quote,
		.base {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				display: block;
				width: 70px;
				height: 70px;
				margin-bottom: 8px;
			}

			p {
				margin: 0;
				font-size: 13px;
			}

			.amount {
				color: #fff;
				font-size: 17px;
			}
		}
	}

	.details {
		flex: 1;
		overflow-y: auto;
	}
}
