@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.SwapDetails .Modal__dialog {
	.section {
		margin: 10px 0;
	}

	.overview {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0 20px; /* TODO: Figure out why this has to be set to so much */

		.arrow {
			color: var(--text-color);
			font-size: 24px;
			margin: 0 50px;
		}

		.quote,
		.base {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				display: block;
				width: 60px;
				height: 60px;
				margin-bottom: 8px;
			}

			p {
				margin: 0;
				font-size: 13px;
			}

			.amount {
				color: #fff;
				font-size: 17px;
			}
		}
	}

	.progress {
		text-align: center;

		.Progress {
			box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.2);
			margin-bottom: 5px;
			border-radius: 100px;

			&__bar {
				border-radius: 100px;
			}
		}
	}

	.details {
		flex: 1;
		overflow-y: auto;
		text-align: center;

		h4 {
			display: block;
			width: 100%;
			border-bottom: 1px solid var(--section-border-color);
			padding-bottom: 6px;
			margin-bottom: 16px;
			text-transform: uppercase;
			font-weight: normal;
			color: var(--text-color);
		}

		.offer,
		.transactions {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;

			h6 {
				font-size: 12px;
				color: var(--text-color);
				margin: 0;
				margin-bottom: 3px;
			}

			p {
				margin: 0;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.8);
			}
		}

		.offer {
			justify-content: space-evenly;
			margin-left: 20px;
			margin-right: 20px;
			text-align: left;

			h6 {
				text-align: center;
			}

			span {
				display: inline-block;
				width: 36px;
				text-align: right;
				color: var(--text-color);
			}
		}

		.transactions {
			justify-content: space-evenly;

			.item {
				display: flex;
				flex-direction: column;
				justify-items: center;
				align-items: center;
				background: rgba(0, 0, 0, 0.08);
				border-radius: 4px;
				padding: 10px;
				position: relative;
				animation: fadeIn 0.5s linear;

				h6 {
					margin-bottom: 6px;
				}

				p {
					line-height: 1.4;
				}
			}

			.arrow {
				align-self: center;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.25);

				&:first-child {
					display: none;
				}
			}
		}
	}
}
