@import '~sass-extras/index';
@import '../../styles/variables';

.Exchange--Swaps,
.Trades {
	display: flex;
	flex-direction: column;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0 20px;
		border-bottom: 1px solid var(--section-border-color);

		h3,
		nav span {
			padding: 20px 0;
		}

		h3 {
			margin: 0;
		}

		nav {
			.button {
				font-size: 15px;
				user-select: none;
				cursor: default;
			}

			.button:first-child {
				margin-right: 20px;
			}

			.button.active {
				color: var(--primary-color);
				border-bottom: 1px solid var(--primary-color);
			}
		}
	}

	main {
		display: flex;
		flex: 1;
		padding: 20px;

		.Empty {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			p {
				font-size: 20px;
				opacity: 0.6;
			}
		}

		.SwapList {
			flex: 1;
			overflow-y: auto;
			margin-bottom: 20px;
			font-size: 12px;
			height: 0;
			min-height: 100%;

			table {
				display: table;
				width: 100%;
			}

			tr {
				white-space: nowrap;
			}

			td {
				padding: 8px 5px 8px 0;
			}

			td:last-child {
				padding-right: 0;
				width: 1%; // Forces it to be the width of its contents
			}

			.timestamp {
				color: var(--text-color);
			}

			.sell-amount {
				color: var(--red-color);
			}

			.buy-amount {
				color: var(--green-color);
			}

			.status {
				&__icon {
					width: 60px;
					padding: 1px 2px;
					font-size: 10px;
					text-align: center;
					text-transform: uppercase;
					border: 1px solid;
					border-radius: 3px;
					user-select: none;
					cursor: default;
				}

				&__icon[data-status='pending'],
				&__icon[data-status='matched'],
				&__icon[data-status='swapping'] {
					background-color: var(--primary-color);
					border-color: var(--primary-color);
				}

				&__icon[data-status='failed'] {
					border-color: #364357;
				}

				&__icon[data-status='completed'] {
					border-color: var(--primary-color);
				}
			}

			.view,
			.cancel {
				&__button {
					padding: 2px 4px;
					color: #fff;
					background-color: var(--background-color);
					border: 1px solid #313d4f;
					transition: 0.2s ease-out;
					font-size: 11px;

					&:hover {
						border-color: rgba(255, 255, 255, 0.2);
					}

					&:active {
						color: rgba(255, 255, 255, 0.8);
						border-color: rgba(255, 255, 255, 0.15);
					}
				}
			}
		}
	}
}
