@import '../styles/variables';

.Button {
	--line-height: 34px;
	display: inline-block;
	min-width: 86px;
	padding: 0 20px;
	border: none;
	border-radius: 4px;
	position: relative;
	background: $button-gradient;
	outline: 0;
	text-align: center;
	text-decoration: none;
	line-height: var(--line-height);
	cursor: default;
	user-select: none;

	&__value {
		display: inline-block;
		position: relative;
		z-index: 2;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
	}

	&__icon {
		margin-right: 10px;
		position: relative;
		top: -1px;
	}

	&__helper {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		background: rgba(255, 255, 255, 0.04);
		transition: opacity 0.3s ease-in-out;
	}

	&:hover {
		.Button__helper {
			opacity: 1;
		}
	}

	&:active {
		.Button__helper {
			opacity: 1;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.06) 100%);
		}
	}

	/* Button size */
	&--large {
		min-width: 96px;
		padding: 0 20px;
		line-height: 44px;

		.Button__icon {
			top: -2px;
		}

		&.Button--value-icon {
			padding-left: 16px;

			.Button__icon {
				margin-right: 12px;
			}
		}
	}

	&--medium {
		min-width: 86px;
		padding: 0 20px;
		line-height: 34px;

		&.Button--value-icon {
			padding-left: 16px;

			.Button__icon {
				margin-right: 10px;
			}
		}
	}

	&--small {
		min-width: 66px;
		padding: 0 16px;
		line-height: 28px;

		.Button__icon {
			top: -2px;
		}

		&.Button--value-icon {
			padding-left: 12px;

			.Button__icon {
				margin-right: 10px;
			}
		}
	}

	&--primary {
		background: $primary-gradient;

		&:active {
			.Button__helper {
				opacity: 1;
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}

	&--fullwidth {
		width: 100%;
	}

	/* Helpers */
	&--icon {
		.Button__icon {
			margin-right: 0;
		}
	}

	&--value-icon {
		padding-left: 16px;
	}

	&--disabled {
		pointer-events: none;
		cursor: default;
		background: transparent;
		border: 1px solid #313d4f;
		line-height: calc(var(--line-height) - 2px/* border * 2 */);

		.Button__value {
			color: #354052;
		}
	}
}
