$color: #f80759;

.CopyButton {
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	color: $color;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		color: shade($color, 15%);
	}

	&:active {
		color: shade($color, 25%);
		transition: none;
	}
}
