.CopyButton,
.ReloadButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	color: var(--red-color);
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.4;
		transition: none;
	}
}
