@import '~sass-extras/index';
@import '../styles/variables';

// TODO(sindresorhus): DRY this up with the ReloadButton

$icon: '<svg width="16" height="16" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#path0_stroke" transform="translate(1 1)" fill="#000"/><defs><path id="path0_stroke" d="M.5.5h9v-1h-9v1zm0 9v-9h-1v9h1zm9-9V4h1V.5h-1zm0 3.5v5.5h1V4h-1zm.5.5h3.5v-1H10v1zm3.5 0v9h1v-9h-1zm0 9h-9v1h9v-1zm-4-4H4v1h5.5v-1zM4 9.5H.5v1H4v-1zm.5 4V10h-1v3.5h1zm0 0h-1a1 1 0 0 0 1 1v-1zm9 0v1a1 1 0 0 0 1-1h-1zm-14-4a1 1 0 0 0 1 1v-1h-1zm10 0v1a1 1 0 0 0 1-1h-1zm0-9h1a1 1 0 0 0-1-1v1zm4 4h1a1 1 0 0 0-1-1v1zm-13-5a1 1 0 0 0-1 1h1v-1z"/></defs></svg>
';
$color: #f80759;

.CopyButton {
	width: 30px;
	height: 30px;
	border: none;
	-webkit-mask: svg-url($icon) no-repeat center;
	background-color: $color;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: shade($color, 15%);
	}

	&:active {
		background-color: shade($color, 25%);
		transition: none;
	}
}
