@import '../styles/variables';

.Input {
	--icon-container-width: 36px;
	display: inline-block;
	margin: 5px 0;
	position: relative;
	width: 100%;

	&-wrap {
		display: inline-block;
		width: 100%;
		position: relative;
	}

	input,
	textarea {
		display: inline-block;
		width: 100%;
		height: 36px;
		min-width: 160px;
		padding: 7px 10px;
		border: 1px solid #313d4f;
		border-radius: 4px;
		position: relative;
		color: #90959d;
		background: #222c3c;
		outline: none;
		font-family: inherit;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		line-height: 21px;
		transition: 0.2s ease;

		&::-webkit-input-placeholder {
			color: $gray-color;
			font-weight: normal;
		}

		&:hover {
			border-color: #3f4d61;
		}

		&:focus {
			border: 1px solid #687bf7;
			color: #fff;
		}
	}

	&--icon {
		input,
		textarea {
			padding-left: calc(var(--icon-container-width) - 2px);
		}
	}

	&__icon {
		@include center-vertically;
		left: 0;
		width: var(--icon-container-width);

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__text {
		display: block;
		position: absolute;
		overflow: hidden;

		p {
			margin: 0;
			float: left;
			color: $text-color;
			font-size: 12px;
			font-weight: normal;
			line-height: 18px;
		}
	}

	&--success {
		input,
		input:hover,
		input:active,
		input:focus,
		textarea,
		textarea:hover,
		textarea:active,
		textarea:focus {
			border-color: $success-color;
		}

		.Input__text p {
			color: $success-color;
		}
	}

	&--error,
	&--error:hover,
	&--error:focus {
		input,
		input:hover,
		input:active,
		input:focus,
		textarea,
		textarea:hover,
		textarea:active,
		textarea:focus {
			border-color: $error-color;
		}

		.Input__text p {
			color: $error-color;
		}
	}

	&--warning,
	&--warning:hover,
	&--warning:focus {
		input,
		input:hover,
		input:active,
		input:focus,
		textarea,
		textarea:hover,
		textarea:active,
		textarea:focus {
			border-color: $warning-color;
		}

		.Input__text p {
			color: $warning-color;
		}
	}

	&--info,
	&--info:hover,
	&--info:focus {
		input,
		input:hover,
		input:active,
		input:focus,
		textarea,
		textarea:hover,
		textarea:active,
		textarea:focus {
			border-color: $info-color;
		}

		.Input__text p {
			color: $info-color;
		}
	}

	&--disabled {
		input,
		input:hover,
		input:active,
		input:focus,
		textarea,
		textarea:hover,
		textarea:active,
		textarea:focus,
		.Input__icon {
			opacity: 0.7;
			pointer-events: none;
			cursor: default;
			user-select: none;
		}
	}
}
