@import '../styles/variables';

.Progress {
	width: 100%;

	&__bar {
		width: 0;
		height: 5px;
		background: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
		transition: width 0.5s ease-in-out;
	}
}
