@import '~sass-extras/index';
@import '../styles/variables';

$icon: '<svg width="14" height="14" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#path0_fill" fill="#fff"/><defs><path id="path0_fill" d="M13.938 2.445c-.075-.07-.205-.071-.366 0l-1.411.616A6.649 6.649 0 0 0 6.579 0C2.951 0 0 2.916 0 6.5S2.951 13 6.579 13c2.065 0 3.97-.93 5.227-2.552a.997.997 0 0 0-.19-1.409 1.025 1.025 0 0 0-1.425.188A4.535 4.535 0 0 1 6.58 10.99c-2.507 0-4.546-2.015-4.546-4.491 0-2.476 2.04-4.491 4.546-4.491 1.476 0 2.849.724 3.691 1.877l-1.435.627c-.16.07-.248.165-.245.268.002.103.094.194.258.257l3.368 1.288a.34.34 0 0 0 .437-.192l1.303-3.328c.064-.161.058-.29-.018-.361z"/></defs></svg>';
$color: #f80759;

.ReloadButton {
	width: 30px;
	height: 30px;
	border: none;
	-webkit-mask: svg-url($icon) no-repeat center;
	background-color: $color;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: shade($color, 15%);
	}

	&:active {
		background-color: shade($color, 25%);
		transition: none;
	}
}
