@import '../styles/variables';

.SelectOption {
	--image-size: 18px;
	display: inline-block;
	position: relative;

	&__label {
		display: inline-block;
		margin-left: 0;
	}

	&__image-wrap {
		@include center-vertically;
		left: -7px;
		padding-bottom: 4px;
	}

	&__image {
		width: var(--image-size);
		height: var(--image-size);
	}

	&--image {
		.SelectOption__label {
			margin-left: calc(var(--image-size) + 5px);
		}
	}
}
