@import '../styles/variables';

.SelectOption {
	--image-size: 18px;
	display: flex;
	align-items: center;

	&__label {
		margin-left: 0;
	}

	&__image-wrap {
		position: relative;
		left: -4px;
	}

	&__image {
		display: block;
		width: var(--image-size);
		height: var(--image-size);
	}

	&--image {
		.SelectOption__label {
			margin-left: 4px;
		}
	}
}

.Select--multi .Select-multi-value-wrapper {
	.SelectOption {
		&__image-wrap {
			position: unset;
			left: unset;
		}
	}
}
