@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.SwapDetails .Modal__dialog {
	position: relative;

	.title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> :not(.title__main) {
			opacity: 0.7;
			font-size: 14px;
		}
	}

	.section {
		margin: 10px 0;
	}

	.overview {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0 20px; /* TODO: Figure out why this has to be set to so much */

		.arrow {
			color: var(--text-color);
			font-size: 24px;
			margin: 0 50px;
		}

		.from,
		.for {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				display: block;
				width: 60px;
				height: 60px;
				margin-bottom: 8px;
			}

			p {
				margin: 0;
				font-size: 13px;
			}

			.amount {
				color: var(--text-color2);
				font-size: 17px;
			}
		}
	}

	.Progress {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.progress {
		text-align: center;
	}

	.details {
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;

		h4 {
			display: block;
			width: 100%;
			border-bottom: 1px solid var(--section-border-color);
			padding-bottom: 6px;
			margin-bottom: 16px;
			text-transform: uppercase;
			font-weight: normal;
			color: var(--text-color);
		}

		.offer,
		.transactions {
			display: flex;
			justify-content: space-between;

			h6 {
				font-size: 12px;
				color: var(--text-color);
				margin: 0;
				margin-bottom: 3px;
			}

			p {
				margin: 0;
				font-size: 14px;
				color: var(--text-color-faded);
			}
		}

		.offer-wrapper {
			margin-bottom: 40px;

			> p {
				margin-top: 10px;
			}
		}

		.offer {
			justify-content: space-evenly;
			margin-left: 20px;
			margin-right: 20px;
			text-align: left;

			h6 {
				text-align: center;
			}

			span {
				display: inline-block;
				width: 36px;
				text-align: right;
				color: var(--text-color);
			}
		}

		.transactions {
			justify-content: space-evenly;
			margin-bottom: 40px;

			.item {
				display: flex;
				flex-direction: column;
				justify-items: center;
				align-items: center;
				width: 100px;
				background: rgba(0, 0, 0, 0.08);
				border: 1px solid rgba(0, 0, 0, 0.08);
				border-radius: 4px;
				padding: 10px;
				position: relative;
				opacity: 0.5;
				transition: 0.5s linear;

				[data-theme='light'] & {
					background: rgba(0, 0, 0, 0.02);
				}

				h6 {
					margin-bottom: 6px;
					opacity: 0.4;
					transition: 0.5s linear;
				}

				p {
					line-height: 1.4;
				}

				&.completed {
					opacity: 1;
					border: 1px solid var(--primary-color-opacity-0-7);

					h6 {
						opacity: 1;
					}

					p {
						animation: fadeIn 1s linear;
					}
				}
			}

			.arrow {
				align-self: center;
				font-size: 14px;
				color: rgba(255, 255, 255, 0.25);

				&:first-child {
					display: none;
				}
			}
		}
	}
}
