.TextArea,
.rs-textarea {
	textarea {
		min-width: 245px;
		min-height: 72px;
		padding: 7px 10px 7px;
		overflow: auto;
		resize: none;
		font-weight: 600;
		line-height: 19px;
	}

	textarea::placeholder {
		font-weight: normal;
	}
}
